@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
}

@media (min-width: 768px) {

    /* Menú */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
}
    
    /*Mobile*/
    @media (min-width: 425px) {
    
    /*Menu*/
    
    /*Titulo*/
    
    /*Sección sobre mi*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
}